@tailwind base;

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: red;
  }
  
  /* Chrome, Edge, and Safari*/
  *::-webkit-scrollbar {
    width: 1px;
  } 
  
  *::-webkit-scrollbar-track {
    background: rgba(0, 0, 255, 0);
    border-radius: 1px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #161f3b;
    border-radius: 5px;
    border: 1px solid #161f3b;
  }


@tailwind components;
@tailwind utilities;